body {
    background: rgb(31, 30, 30);
}

img {
    margin: 0px auto;
    width: 60px;
    height: 54px;
}

header {
    background: #000000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 0;
}

.site_header {
    width: 100%;
    /*Устанавливает ширину содержимого элемента*/
    background-color: #131414;
    /*Определяет цвет фона элемента*/
    min-height: 54px;
    /*Устанавливает высоту содержимого элемента*/
    display: flex;
    /*Определяет как элемент должен быть показан в документе*/
    /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
    position: fixed;
    /*Устанавливает способ позиционирования элемента относительно окна браузера или других объектов на веб-странице*/
    top: 0;
    /*Расстояние от верхнего края родительского элемента до верхнего края дочернего элемента*/
    z-index: 21;
    /*Размещением по z-оси*/
    /*transition: height 1s ease-in-out;*/
}

.main_container {
    width: 100%;
    /*Устанавливает ширину содержимого элемента*/
    max-width: 1219px;
    /*Устанавливает максимальную ширину элемента*/
    margin-left: 0;
    /*Устанавливает величину отступа от левого края элемента*/
    margin-right: 0;
    /*Устанавливает величину отступа от правого края элемента*/
    /*Устанавливает значение поля от левого края содержимого элемента*/
    padding-right: 100px;
    /*Устанавливает значение поля от правого края содержимого элемента*/
}

.navigation_container {
    padding-left: auto;
    height: 100%;
    /*Устанавливает ширину содержимого элемента*/
    display: flex;
    /*Определяет как элемент должен быть показан в документе*/
    align-items: center;
    /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
    justify-content: space-around;
    /*Как браузер распределяет пространство вокруг флекс-элементов вдоль главной оси контейнера*/
}

.link {
    transition: all ease-in .3s;
    font-weight: 400;
    /*Устанавливает насыщенность шрифта*/
    font-size: 24px;
    /*Определяет размер шрифта элемента*/
    line-height: 28px;
    /*Задаёт высоту строки текста*/
    text-decoration: none;
    /*Добавляет оформление текста*/
    color: #f7f7f7;
    padding: 15px;
    /*Определяет цвет текста элемента*/
    /*transition: color .2s linear;*/
    /*transition: font-size .3s linear;*/
}

.link:hover {
    color: rgba(68, 161, 238, 0.822);
    text-decoration: none;
}

/* div::after {
    content: '';
    width: 2px;
    background: violet;
    height: 100%;
} */

.logo {
    float: left;
    /*Остальные элементы будут обтекать его с других сторон*/
    /*Устанавливает значение поля от правого края содержимого элемента*/
    display: flex;
    align-items: center;
    color: #f7f7f7;
    font-size: 1.5rem;
    font-weight: 600;
    margin: .1em;
}

a {
    transition: all ease-in .3s;
    text-decoration: none;
    color: rgb(204, 218, 231)
}

a:hover {
    color: rgba(68, 161, 238, 0.822);
    text-decoration: none;
}